<!--Navbar-->
<nav class="navbar navbar-expand-lg" style="background-color: #38115B;">
    <div class="container-fluid">
      <a style="color: white;" class="navbar-brand" href="/home">
        <img src="/assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <span style="margin-left: 10px ;">GitLabInfo</span>
      </a>
      <div *ngIf="isLogged" class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a style="color: white;" class="nav-link active" aria-current="page" href="/application">Applications</a>
          <a style="color: white;" class="nav-link" href="/connection">Connections</a>
          <a style="color: white;" class="nav-link" href="/mergeRequests">MergeRequests</a>
          <a style="color: white;" class="nav-link" href="/commits">Commits</a>
          <a style="color: white; margin-left: 820px;" class="nav-link" href="#" id="googleBtn2" (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
            Sign out
          </a>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>