<div style="display: flex;justify-content: center;">
    <div class="card card text-center" style="width: 30rem;margin-top: 60px;">
        <div class="card-header " style="background-color: #e6ecff;">
          Connection
        </div>
        <div class="card-body" style="display: flex; justify-content: center;">
            <form name="myForm" #myForm="ngForm" >
                <label for="name">
                    Name:
                </label><br>
                <!--Name-->
                <input class="form-control" [(ngModel)]="connection.name" name="name" style="margin-top: 10px;" type="text" id="name"
                #name="ngModel" required [class.is-invalid]="name.touched && name.invalid"><br>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                  <small class="text-danger">Name is required field!</small>
                </div>
                <!--Project-->
                <label style="margin-top: 10px;">
                    Project:
                </label><br>
                <input class="form-control" [(ngModel)]="connection.project" name="project" style="margin-top: 10px;" type="text" id="project"
                #project="ngModel" required [class.is-invalid]="project.touched && project.invalid"><br>
                <div *ngIf="project.touched && project.invalid">
                    <small class="text-danger">Project name is required field!</small>
                </div><br>
                <!--Url-->
                <label>
                    Url:
                </label><br>
                <input class="form-control" [(ngModel)]="connection.url" name="url" style="margin-top: 10px;" type="text" id="url" 
                #url="ngModel" required [class.is-invalid]="url.touched && url.invalid"
                pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"><br>
                <div *ngIf="url.errors && (url.invalid && url.touched)">
                    <small class="text-danger">Url is required field!</small>
                    <small class="text-danger" *ngIf="url.errors?.['pattern']">Wrong url!</small>
                </div>
                <!--Token-->
                <label style="margin-top: 10px;">
                    Token:
                </label><br>
                <input class="form-control" [(ngModel)]="connection.token" name="token" style="margin-top: 10px;" type="text" id="token"
                #token="ngModel" required [class.is-invalid]="token.touched && token.invalid"><br>
                <div *ngIf="token.invalid && (token.dirty || token.touched)">
                    <small class="text-danger">Token is required field!</small>
                </div>
                <!--Branch-->
                <label style="margin-top: 10px;">
                    Branch:
                </label><br>
                <input class="form-control" [(ngModel)]="connection.branchName" name="branchName" style="margin-top: 10px;" type="text" id="branch" 
                #branch="ngModel" required  [class.is-invalid]="branch.touched && branch.invalid"><br>
                <div *ngIf="branch.invalid && (branch.dirty || branch.touched)">
                    <small class="text-danger">Branch name is required field!</small>
                </div>
                <!--Buttons-->
                <div style="margin-top: 30px">
                    <button (click)="cancel()" style="margin-left: 13px; width: 75px;" type="button" class="btn btn-secondary">Cancel</button>
                    <button [disabled]="myForm.form.invalid" (click)="addConnection()"  style="margin-left: 10px; width: 75px;" type="button" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
