<div style="margin-top: 50px; margin-left: 60px; display: inline-block;">
    <h1>Welcome to GitLabInfo</h1>
</div>
<div style="display:inline-block; margin-left: 15px;">
    <img src="/assets/logoo.png" style="width: 40px; margin-top: -13px;">
</div>
<div style="margin-top: 20px; margin-left: 60px;">
    <p> With GitLabInfo you can easily get latest merge requests and commits for various projects.
        <br> Hope you will enjoy it !</p>
        <p>Feel free to subscribe to our notifications.</p><br>
        <div>
            <button style="width: 200px;" class="btn btn-info" type="button" (click)="startClicked()">Recieve notifications</button>
            <button style="margin-left: 10px; width: 200px;" class="btn btn-info" type="button" (click)="stopClicked()">Stop recieving </button>
        </div>
        <button style="float: right; margin-right: 40px; margin-top: -250px;" type="button" class="btn btn-primary position-relative" (click)="seeNotifications();toggle()">
            Notifications
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{notifications.length}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
        <img src="/assets/background.png" style="margin-top: 40px; width: 500px; height: 300px; margin-left: 600px;">
        <div *ngIf="hideContent && showNotifications" style="float: right; margin-right: 40px; margin-top: -200px;" >
          <div class="card card-body">
            <span *ngFor="let notification of notifications">{{notification}} </span>
          </div>
        </div>
</div> 
