<!--Card-->
<div style="display: flex;justify-content: center;">
    <div class="card" style="width: 30rem;margin-top: 60px;">
      <div class="card-header" style="background-color: #e6ecff;">
        <i style="color: #38115B;" class="bi bi-diagram-3-fill"></i>
        <span style="margin-left: 5px"></span>
        Connections
        <button (click)="goToNewConnection()" type="button" class="btn btn-outline-success btn-sm" style="float:right">Add new</button>
      </div>
      <ul class="list-group list-group-flush" *ngFor="let connection of connections; let i = index">
        <li class="list-group-item">
          <a style="text-decoration: none; color: black;"
          (click)="toggle(i)">
            {{connection.name}}
          </a>
          <!--Connection info-->
          <div class="expandCollapseContent" *ngIf="hideContent[i]">
            <div class="card card-body" style="margin-top: 20px; margin-bottom: 10px;">
              <label> <b>Project: </b> 
                {{connection.project}} 
              </label>
              <label> <b> Url: </b> 
                {{connection.url}} 
              </label>
              <label> <b> Branch: </b> 
                {{connection.branchName}} 
              </label>
            </div>
          </div>
          <!--Buttons-->
          <div style="float:right;">
              <a href="/connection/edit/{{connection.id}}">
                <span class="badge rounded-pill text-bg-primary" style="width: 70px;"><i class="bi bi-pencil"></i> Edit</span>
              </a>
              <a class="button" (click)="triggerModal(modalData)">
                <span class="badge rounded-pill text-bg-danger" style="margin-left: 5px; width: 70px;" ><i class="bi bi-trash"></i> Delete</span>
              </a>
          </div>
        </li>
        <!--Modal for deleting-->
        <div>
          <ng-template #modalData let-modal>
            <div class="modal-header">
              <i style="font-size: 1.3rem;" class="bi bi-trash3-fill"></i>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p><strong>Are you sure you want to delete <span class="text-primary">{{ connection.name}}</span> ?</strong></p>
              <p>All data related to this connection will be deleted permanently.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="[deleteConnection(connection), modal.close('Save click')]">Yes</button>
            </div>
          </ng-template>
        </div>
      </ul>
    </div>
  </div>
