<div style="display: flex;justify-content: center;">
    <div class="card card text-center" style="width: 30rem;margin-top: 60px;">
        <div class="card-header " style="background-color: #e6ecff;">
          Application
        </div>
        <div class="card-body" style="display: flex; justify-content: center;">
            <form name="myForm" #myForm="ngForm">
                <!--Name-->
                <label for="name">
                    Name:
                </label><br>
                <input class="form-control" [(ngModel)]="application.name" name="name" style="margin-top: 10px;" type="text" id="name"
                #name="ngModel" required [class.is-invalid]="name.touched && name.invalid"><br>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <small class="text-danger">Name is required field!</small>
                </div>
                <!--Dropdown-->
                <div ngbDropdown #myDrop="ngbDropdown" style="margin-top: 20px; position:absolute;">
                    <button *ngIf="choosenConnection" style="width: 210px;" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>{{choosenConnection}}</button>
                    <button *ngIf="!choosenConnection" style="width: 210px;" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>Choose connections</button>
                    <div ngbDropdownMenu aria-labelledby="operatorDropdown">
                        <div *ngFor="let connection of connections">
                            <button style="width: 210px;" class="dropdown-item" ngbDropdownItem 
                            (click)="choosenConnection = connection; validateConnectionDropdown(); addConnectionToApplication(connection);
                            changeConnection(connection)"
                            [ngClass]="{'active' : choosenConnection === connection}"> {{connection.name}}</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="isOperatorEmpty" style="margin-top: 70px; margin-left: -12px;">
                    <small class="text-danger">You must choose connection!</small>
                </div>
                <!--Buttons-->
                <div style="margin-top: 90px">
                    <button (click)="cancel()" style="margin-left: 13px; width: 75px;" type="button" class="btn btn-secondary">Cancel</button>
                    <button [disabled]="myForm.form.invalid" (click)="addApplication()" style="margin-left: 10px; width: 75px;" type="button" class="btn btn-success">Save</button>
                </div>
            </form>
         
        </div>
    </div>
</div>

