<!--Card-->
<div style="display: flex;justify-content: center;">
    <div class="card card text-center" style="width: 30rem;margin-top: 60px;">
      <div class="card-header" style="background-color: #e6ecff;">
        <i style="float: left; color: #38115B;" class="bi bi-shuffle"></i>
        <span style="margin-left: -290px;"></span>
        Merge requests
      </div>
      <div class="card-body">
        <!--Dropdown app-->
        <div ngbDropdown #myDrop="ngbDropdown" style="margin-top: 20px">
            <button *ngIf="!choosenApplication" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>Choose application</button>
            <button *ngIf="choosenApplication" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>{{choosenApplication}}</button>
            <div ngbDropdownMenu aria-labelledby="operatorDropdown">
                <div *ngFor="let application of applications">
                    <button class="dropdown-item" ngbDropdownItem 
                    (click)="choosenApplication = application; validateApplicationDropdown(); findAppConnections(application);
                    changeApplication(application)" 
                    [ngClass]="{'active' : choosenApplication === application}"> {{application.name}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="isApplicationEmpty" style="margin-top: 4px; margin-left: -12px;">
            <small class="text-danger">You must choose application!</small>
        </div>
        <!--Dropdown connection-->
        <div ngbDropdown #myDropConn="ngbDropdown" style="margin-top: 30px;">
            <button *ngIf="choosenConnectionDropdown" style="width: 210px;" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>{{choosenConnectionDropdown}}</button>
            <button *ngIf="!choosenConnectionDropdown" style="width: 210px;" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>Choose connections</button>
            <div ngbDropdownMenu aria-labelledby="operatorDropdown">
                <div *ngFor="let connection of appConnections">
                    <button class="dropdown-item" ngbDropdownItem 
                    (click)="choosenConnectionDropdown = connection; validateConnectionDropdown(); rememberConnection(connection);
                    changeConnection(connection)" 
                    [ngClass]="{'active' : choosenConnectionDropdown === connection}"> {{connection.name}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="isConnectionEmpty" style="margin-top: 4px; margin-left: -12px;">
            <small class="text-danger">You must choose connection!</small>
        </div>
        <button (click)="getMergeRequests()" style="margin-top: 20px; float: right" type="button" class="btn btn-outline-success">Find</button>
        <!--Merge requests-->
        <div class="card" style="margin-top: 75px;">
            <ul class="list-group list-group-flush " *ngFor="let mergeRequest of mergeRequests; let i = index">
                <li class="list-group-item">
                    <i style="float: left; color: #38115B;" class="bi bi-bezier2"></i>
                    <a style="text-decoration: none; color: black; float: left; margin-left: 10px;"
                    (click)="toggle(i)">
                        {{mergeRequest.title}}
                    </a>
                    <!--Merge request info-->
                    <div class="expandCollapseContent" *ngIf="hideContent[i]">
                        <small style="float: left; margin-top: 10px;">
                            Opened by : {{mergeRequest.author.name}} on {{mergeRequest.created | date : 'MMMM-dd-yyyy HH:mm' }} <br>
                        </small>
                        <small style="float: left; margin-top: 3px; margin-bottom: 10px;">
                            Assigned to: {{mergeRequest.assignee.name}} 
                        </small>
                    </div>
                </li>
            </ul>  
        </div>
    
        </div>
    </div>

    
</div>


