<!--Card-->
<div style="display: flex;justify-content: center;">
    <div class="card card text-center" style="width: 30rem;margin-top: 60px;">
      <div class="card-header" style="background-color: #e6ecff;">
        <i style="float: left; color: #38115B;" class="bi bi-clock-history"></i>
        <span style="margin-left: -340px;"></span>
        Commits
      </div>
      <div class="card-body">
        <!--Dropdown app-->
        <div ngbDropdown #myDrop="ngbDropdown" style="margin-top: 20px">
            <button *ngIf="!choosenApplication" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>Choose application</button>
            <button *ngIf="choosenApplication" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>{{choosenApplication}}</button>
            <div ngbDropdownMenu aria-labelledby="operatorDropdown">
                <div *ngFor="let application of applications">
                    <button class="dropdown-item" ngbDropdownItem 
                    (click)="choosenApplication = application; validateApplicationDropdown(); findAppConnections(application);
                    changeApplication(application)" 
                    [ngClass]="{'active' : choosenApplication === application}"> {{application.name}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="isApplicationEmpty" style="margin-top: 4px; margin-left: -12px;">
            <small class="text-danger">You must choose application!</small>
        </div>
        <!--Dropdown connection-->
        <div ngbDropdown #myDropConn="ngbDropdown" style="margin-top: 30px;">
            <button *ngIf="choosenConnectionDropdown" style="width: 210px;" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>{{choosenConnectionDropdown}}</button>
            <button *ngIf="!choosenConnectionDropdown" style="width: 210px;" type="button" class="btn btn-outline-primary me-2 dropdown-toggle" id="operatorDropdown"
                    ngbDropdownToggle>Choose connections</button>
            <div ngbDropdownMenu aria-labelledby="operatorDropdown">
                <div *ngFor="let connection of appConnections">
                    <button class="dropdown-item" ngbDropdownItem 
                    (click)="choosenConnectionDropdown = connection; validateConnectionDropdown(); rememberConnection(connection);
                    changeConnection(connection)" 
                    [ngClass]="{'active' : choosenConnectionDropdown === connection}"> {{connection.name}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="isConnectionEmpty" style="margin-top: 4px; margin-left: -12px;">
            <small class="text-danger">You must choose connection!</small>
        </div>
        <button (click)="getCommits()" style="margin-top: 20px; float: right" type="button" class="btn btn-outline-success">Find</button>
        <!--Commits-->
        <div class="card" style="margin-top: 75px;">
            <ul class="list-group list-group-flush " *ngFor="let commit of commits; let i = index" >
                <li class="list-group-item">
                    <i style="float: left; color: #38115B;" class="bi bi-clock-history"></i>
                    <a style="text-decoration: none; color: black; float: left; margin-left: 10px;"
                    (click)="toggle(i)">
                    <div class="d-inline-block text-truncate" style="max-width: 298px;" data-toggle="tooltip" data-placement="right" title={{commit.message}}>
                        {{commit.message}}
                    </div>
                    </a>
                    <small style="float: right;">#{{commit.short_id}}</small><br> 
                    <!--Commit info-->
                    <div class="expandCollapseContent" *ngIf="hideContent[i]">
                        <small style="float: left; margin-top: 15px;">
                            <i style="float: left; margin-left: 8px;" class="bi bi-person-circle"></i>
                            <span style="margin-left: 5px;">{{commit.author_name}} commited on {{commit.created | date : 'MMMM-dd-yyyy HH:mm'}}</span>
                        </small>
                    </div>
                </li>
            </ul>  
        </div>
    
        </div>
    </div>
</div>



