<div style="display: flex;justify-content: center; margin-top: 70px;">
    <div class="card card text-center" style="width: 400px;">
        <div class="card-header " style="background-color: #e6ecff;">
            Application
          </div>
        <div class="card-body" style="display: flex;justify-content: center;">
            <form>
                 <!--Name-->
                 <label for="name">
                    Name:
                </label><br>
                <input class="form-control" [(ngModel)]="application.name" name="name" style="margin-top: 10px;" type="text" id="name"
                #name="ngModel" required [class.is-invalid]="name.touched && name.invalid"><br>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <small class="text-danger">Name is required field!</small>
                </div>
                <!--Connections-->
                <label style="margin-top: 30px; margin-left: -10px;">
                    Connections:
                    <button (click)="toggle()" type="button" class="btn btn-outline-success btn-sm" style="float:right; margin-left:59px; width: 67px;">Add</button>
                </label><br>
                <div class="expandCollapseContent" *ngIf="hideContent" >
                    <div class="card card-body" style="margin-top: 10px;">
                    <ul class="list-group list-group-flush" *ngFor="let connection of connections">
                        <li class="list-group-item">{{connection.name}}
                            <!--Checkboxes-->
                            <div class="form-check" style="float:right; margin-left: 20px;">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="connection" [(ngModel)]="connection.checked">
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
                <ul style="margin-top: 5px" class="list-group list-group-flush" *ngFor="let connection of application.connections">
                    <li style="margin-left: -14px;" class="list-group-item">{{connection.name}}
                        <div style="float:right; margin-left: 20px;">
                            <button (click)="removeConnection(connection)" type="button" class="btn btn-outline-danger btn-sm" style="margin-left: 51px;">Remove</button>
                        </div>
                    </li>
                </ul>
                <!--Buttons-->
                <div style="margin-top: 30px">
                    <button (click)="cancel()" style="margin-left: 13px; width: 75px;" type="button" class="btn btn-secondary">Cancel</button>
                    <button (click)="editApplication()" style="margin-left: 10px; width: 75px;" type="button" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
